*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cover{
	background-color: #062863;
	max-width: 100%;
	min-height: 140vh ;

}
.wrap{

	background: white;
	width: 450px;
	margin: 1em  auto;
	padding: 2em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family: sans-serif


}
.img{
	
	padding: 1em;
	text-align: center;

}
img{

	margin-top: 1em;
	padding: 1em;


}
header{
	text-align: center;
	padding-top: 0.8em;
padding-bottom: 2.2em;
}

header h1{
	font-size: 25px ;
	padding-bottom: 0.2em;
	color: #083E9E;
	font-family: sans-serif;

}
header p{
font-size: 85%;
font-family: sans-serif;
color: #4a5568;
letter-spacing:0.5px; 

}

input[type=text],
input[type=password]
{
	width: 100%;
	padding: 20px;
	display: inline-block;
	background: #edf2f7;
	outline: none;
	border: none;
	border-radius: 5px;
	margin: 7px 0 10px 0;
}

input::placeholder {
font-size: 15px;
color:rgb(128, 128, 128);
}

label {
	font-size: 12px;
	font-weight: bold;
	color: #4a5568;
}

.select {
width: 100%;
padding: 15px;

outline: none;
border: none;
background: #edf2f7;
border-radius: 5px;
margin: 7px 0 10px 0;
font-size: 1rem;
color: rgb(71, 69, 69);

}



.select::placeholder {
	color: black;

}

.select:focus{
	border: 1px blue solid;
}

option {

	font-size: 18px;
	padding: 20px 0;
	color: rgb(85, 79, 79);
	border-radius: none;
	font-family: sans-serif;
}

input[type=submit]{
	width: 100%;
	padding: 1em;
	display: inline-block;
	background: #083e9e;
	border: none;
	outline: none;
	border-radius: 7px;
	margin: 7px 0 10px 0;
	font-size: 18px;
	color: white;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

input[type=submit]:hover{
background-color: rgb(3, 20, 150);
}

.end{
	color: white;
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
}
.end:hover{
	color: gray;
}
